# Ignore the yalefaces folder
Lab/lab6_lda/yalefaces/
Lab/lab5_pca/t10k-images-idx3-ubyte.gz
Lab/lab5_pca/t10k-labels-idx1-ubyte.gz
Lab/lab5_pca/train-images-idx3-ubyte.gz
Lab/lab5_pca/train-labels-idx1-ubyte.gz
cs229_summer2019/problem_set1/src/posonly/__pycache__/logreg.cpython-310.pyc
cs229_summer2019/problem_set1/src/posonly/__pycache__/util.cpython-310.pyc
Lab/lab6_lda/t10k-images-idx3-ubyte.gz
Lab/lab6_lda/t10k-labels-idx1-ubyte.gz
Lab/lab6_lda/train-images-idx3-ubyte.gz
Lab/lab6_lda/train-labels-idx1-ubyte.gz
Lab/lab6_lda/yalefaces/Readme.txt
Lab/lab6_lda/yalefaces/subject01.centerlight
Lab/lab6_lda/yalefaces/subject01.glasses
Lab/lab6_lda/yalefaces/subject01.happy
Lab/lab6_lda/yalefaces/subject01.leftlight
Lab/lab6_lda/yalefaces/subject01.noglasses
Lab/lab6_lda/yalefaces/subject01.normal
Lab/lab6_lda/yalefaces/subject01.rightlight
Lab/lab6_lda/yalefaces/subject01.sad
Lab/lab6_lda/yalefaces/subject01.sleepy
Lab/lab6_lda/yalefaces/subject01.surprised
Lab/lab6_lda/yalefaces/subject01.wink
Lab/lab6_lda/yalefaces/subject02.centerlight
Lab/lab6_lda/yalefaces/subject02.glasses
Lab/lab6_lda/yalefaces/subject02.happy
Lab/lab6_lda/yalefaces/subject02.leftlight
Lab/lab6_lda/yalefaces/subject02.noglasses
Lab/lab6_lda/yalefaces/subject02.normal
Lab/lab6_lda/yalefaces/subject02.rightlight
Lab/lab6_lda/yalefaces/subject02.sad
Lab/lab6_lda/yalefaces/subject02.sleepy
Lab/lab6_lda/yalefaces/subject02.surprised
Lab/lab6_lda/yalefaces/subject02.wink
Lab/lab6_lda/yalefaces/subject03.centerlight
Lab/lab6_lda/yalefaces/subject03.glasses
Lab/lab6_lda/yalefaces/subject03.happy
Lab/lab6_lda/yalefaces/subject03.leftlight
Lab/lab6_lda/yalefaces/subject03.noglasses
Lab/lab6_lda/yalefaces/subject03.normal
Lab/lab6_lda/yalefaces/subject03.rightlight
Lab/lab6_lda/yalefaces/subject03.sad
Lab/lab6_lda/yalefaces/subject03.sleepy
Lab/lab6_lda/yalefaces/subject03.surprised
Lab/lab6_lda/yalefaces/subject03.wink
Lab/lab6_lda/yalefaces/subject04.centerlight
Lab/lab6_lda/yalefaces/subject04.glasses
Lab/lab6_lda/yalefaces/subject04.happy
Lab/lab6_lda/yalefaces/subject04.leftlight
Lab/lab6_lda/yalefaces/subject04.noglasses
Lab/lab6_lda/yalefaces/subject04.normal
Lab/lab6_lda/yalefaces/subject04.rightlight
Lab/lab6_lda/yalefaces/subject04.sad
Lab/lab6_lda/yalefaces/subject04.sleepy
Lab/lab6_lda/yalefaces/subject04.surprised
Lab/lab6_lda/yalefaces/subject04.wink
Lab/lab6_lda/yalefaces/subject05.centerlight
Lab/lab6_lda/yalefaces/subject05.glasses
Lab/lab6_lda/yalefaces/subject05.happy
Lab/lab6_lda/yalefaces/subject05.leftlight
Lab/lab6_lda/yalefaces/subject05.noglasses
Lab/lab6_lda/yalefaces/subject05.normal
Lab/lab6_lda/yalefaces/subject05.rightlight
Lab/lab6_lda/yalefaces/subject05.sad
Lab/lab6_lda/yalefaces/subject05.sleepy
Lab/lab6_lda/yalefaces/subject05.surprised
Lab/lab6_lda/yalefaces/subject05.wink
Lab/lab6_lda/yalefaces/subject06.centerlight
Lab/lab6_lda/yalefaces/subject06.glasses
Lab/lab6_lda/yalefaces/subject06.happy
Lab/lab6_lda/yalefaces/subject06.leftlight
Lab/lab6_lda/yalefaces/subject06.noglasses
Lab/lab6_lda/yalefaces/subject06.normal
Lab/lab6_lda/yalefaces/subject06.rightlight
Lab/lab6_lda/yalefaces/subject06.sad
Lab/lab6_lda/yalefaces/subject06.sleepy
Lab/lab6_lda/yalefaces/subject06.surprised
Lab/lab6_lda/yalefaces/subject06.wink
Lab/lab6_lda/yalefaces/subject07.centerlight
Lab/lab6_lda/yalefaces/subject07.glasses
Lab/lab6_lda/yalefaces/subject07.happy
Lab/lab6_lda/yalefaces/subject07.leftlight
Lab/lab6_lda/yalefaces/subject07.noglasses
Lab/lab6_lda/yalefaces/subject07.normal
Lab/lab6_lda/yalefaces/subject07.rightlight
Lab/lab6_lda/yalefaces/subject07.sad
Lab/lab6_lda/yalefaces/subject07.sleepy
Lab/lab6_lda/yalefaces/subject07.surprised
Lab/lab6_lda/yalefaces/subject07.wink
Lab/lab6_lda/yalefaces/subject08.centerlight
Lab/lab6_lda/yalefaces/subject08.glasses
Lab/lab6_lda/yalefaces/subject08.happy
Lab/lab6_lda/yalefaces/subject08.leftlight
Lab/lab6_lda/yalefaces/subject08.noglasses
Lab/lab6_lda/yalefaces/subject08.normal
Lab/lab6_lda/yalefaces/subject08.rightlight
Lab/lab6_lda/yalefaces/subject08.sad
Lab/lab6_lda/yalefaces/subject08.sleepy
Lab/lab6_lda/yalefaces/subject08.surprised
Lab/lab6_lda/yalefaces/subject08.wink
Lab/lab6_lda/yalefaces/subject09.centerlight
Lab/lab6_lda/yalefaces/subject09.glasses
Lab/lab6_lda/yalefaces/subject09.happy
Lab/lab6_lda/yalefaces/subject09.leftlight
Lab/lab6_lda/yalefaces/subject09.noglasses
Lab/lab6_lda/yalefaces/subject09.normal
Lab/lab6_lda/yalefaces/subject09.rightlight
Lab/lab6_lda/yalefaces/subject09.sad
Lab/lab6_lda/yalefaces/subject09.sleepy
Lab/lab6_lda/yalefaces/subject09.surprised
Lab/lab6_lda/yalefaces/subject09.wink
Lab/lab6_lda/yalefaces/subject10.centerlight
Lab/lab6_lda/yalefaces/subject10.glasses
Lab/lab6_lda/yalefaces/subject10.happy
Lab/lab6_lda/yalefaces/subject10.leftlight
Lab/lab6_lda/yalefaces/subject10.noglasses
Lab/lab6_lda/yalefaces/subject10.normal
Lab/lab6_lda/yalefaces/subject10.rightlight
Lab/lab6_lda/yalefaces/subject10.sad
Lab/lab6_lda/yalefaces/subject10.sleepy
Lab/lab6_lda/yalefaces/subject10.surprised
Lab/lab6_lda/yalefaces/subject10.wink
Lab/lab6_lda/yalefaces/subject11.centerlight
Lab/lab6_lda/yalefaces/subject11.glasses
Lab/lab6_lda/yalefaces/subject11.happy
Lab/lab6_lda/yalefaces/subject11.leftlight
Lab/lab6_lda/yalefaces/subject11.noglasses
Lab/lab6_lda/yalefaces/subject11.normal
Lab/lab6_lda/yalefaces/subject11.rightlight
Lab/lab6_lda/yalefaces/subject11.sad
Lab/lab6_lda/yalefaces/subject11.sleepy
Lab/lab6_lda/yalefaces/subject11.surprised
Lab/lab6_lda/yalefaces/subject11.wink
Lab/lab6_lda/yalefaces/subject12.centerlight
Lab/lab6_lda/yalefaces/subject12.glasses
Lab/lab6_lda/yalefaces/subject12.happy
Lab/lab6_lda/yalefaces/subject12.leftlight
Lab/lab6_lda/yalefaces/subject12.noglasses
Lab/lab6_lda/yalefaces/subject12.normal
Lab/lab6_lda/yalefaces/subject12.rightlight
Lab/lab6_lda/yalefaces/subject12.sad
Lab/lab6_lda/yalefaces/subject12.sleepy
Lab/lab6_lda/yalefaces/subject12.surprised
Lab/lab6_lda/yalefaces/subject12.wink
Lab/lab6_lda/yalefaces/subject13.centerlight
Lab/lab6_lda/yalefaces/subject13.glasses
Lab/lab6_lda/yalefaces/subject13.happy
Lab/lab6_lda/yalefaces/subject13.leftlight
Lab/lab6_lda/yalefaces/subject13.noglasses
Lab/lab6_lda/yalefaces/subject13.normal
Lab/lab6_lda/yalefaces/subject13.rightlight
Lab/lab6_lda/yalefaces/subject13.sad
Lab/lab6_lda/yalefaces/subject13.sleepy
Lab/lab6_lda/yalefaces/subject13.surprised
Lab/lab6_lda/yalefaces/subject13.wink
Lab/lab6_lda/yalefaces/subject14.centerlight
Lab/lab6_lda/yalefaces/subject14.glasses
Lab/lab6_lda/yalefaces/subject14.happy
Lab/lab6_lda/yalefaces/subject14.leftlight
Lab/lab6_lda/yalefaces/subject14.noglasses
Lab/lab6_lda/yalefaces/subject14.normal
Lab/lab6_lda/yalefaces/subject14.rightlight
Lab/lab6_lda/yalefaces/subject14.sad
Lab/lab6_lda/yalefaces/subject14.sleepy
Lab/lab6_lda/yalefaces/subject14.surprised
Lab/lab6_lda/yalefaces/subject14.wink
Lab/lab6_lda/yalefaces/subject15.centerlight
Lab/lab6_lda/yalefaces/subject15.glasses
Lab/lab6_lda/yalefaces/subject15.happy
Lab/lab6_lda/yalefaces/subject15.leftlight
Lab/lab6_lda/yalefaces/subject15.noglasses
Lab/lab6_lda/yalefaces/subject15.normal
Lab/lab6_lda/yalefaces/subject15.rightlight
Lab/lab6_lda/yalefaces/subject15.sad
Lab/lab6_lda/yalefaces/subject15.sleepy
Lab/lab6_lda/yalefaces/subject15.surprised
Lab/lab6_lda/yalefaces/subject15.wink
Lab/lab6_lda/yalefaces/data/Readme.txt
Lab/lab6_lda/yalefaces/data/subject01.centerlight
Lab/lab6_lda/yalefaces/data/subject01.glasses
Lab/lab6_lda/yalefaces/data/subject01.happy
Lab/lab6_lda/yalefaces/data/subject01.leftlight
Lab/lab6_lda/yalefaces/data/subject01.noglasses
Lab/lab6_lda/yalefaces/data/subject01.normal
Lab/lab6_lda/yalefaces/data/subject01.rightlight
Lab/lab6_lda/yalefaces/data/subject01.sad
Lab/lab6_lda/yalefaces/data/subject01.sleepy
Lab/lab6_lda/yalefaces/data/subject01.surprised
Lab/lab6_lda/yalefaces/data/subject01.wink
Lab/lab6_lda/yalefaces/data/subject02.centerlight
Lab/lab6_lda/yalefaces/data/subject02.glasses
Lab/lab6_lda/yalefaces/data/subject02.happy
Lab/lab6_lda/yalefaces/data/subject02.leftlight
Lab/lab6_lda/yalefaces/data/subject02.noglasses
Lab/lab6_lda/yalefaces/data/subject02.normal
Lab/lab6_lda/yalefaces/data/subject02.rightlight
Lab/lab6_lda/yalefaces/data/subject02.sad
Lab/lab6_lda/yalefaces/data/subject02.sleepy
Lab/lab6_lda/yalefaces/data/subject02.surprised
Lab/lab6_lda/yalefaces/data/subject02.wink
Lab/lab6_lda/yalefaces/data/subject03.centerlight
Lab/lab6_lda/yalefaces/data/subject03.glasses
Lab/lab6_lda/yalefaces/data/subject03.happy
Lab/lab6_lda/yalefaces/data/subject03.leftlight
Lab/lab6_lda/yalefaces/data/subject03.noglasses
Lab/lab6_lda/yalefaces/data/subject03.normal
Lab/lab6_lda/yalefaces/data/subject03.rightlight
Lab/lab6_lda/yalefaces/data/subject03.sad
Lab/lab6_lda/yalefaces/data/subject03.sleepy
Lab/lab6_lda/yalefaces/data/subject03.surprised
Lab/lab6_lda/yalefaces/data/subject03.wink
Lab/lab6_lda/yalefaces/data/subject04.centerlight
Lab/lab6_lda/yalefaces/data/subject04.glasses
Lab/lab6_lda/yalefaces/data/subject04.happy
Lab/lab6_lda/yalefaces/data/subject04.leftlight
Lab/lab6_lda/yalefaces/data/subject04.noglasses
Lab/lab6_lda/yalefaces/data/subject04.normal
Lab/lab6_lda/yalefaces/data/subject04.rightlight
Lab/lab6_lda/yalefaces/data/subject04.sad
Lab/lab6_lda/yalefaces/data/subject04.sleepy
Lab/lab6_lda/yalefaces/data/subject04.surprised
Lab/lab6_lda/yalefaces/data/subject04.wink
Lab/lab6_lda/yalefaces/data/subject05.centerlight
Lab/lab6_lda/yalefaces/data/subject05.glasses
Lab/lab6_lda/yalefaces/data/subject05.happy
Lab/lab6_lda/yalefaces/data/subject05.leftlight
Lab/lab6_lda/yalefaces/data/subject05.noglasses
Lab/lab6_lda/yalefaces/data/subject05.normal
Lab/lab6_lda/yalefaces/data/subject05.rightlight
Lab/lab6_lda/yalefaces/data/subject05.sad
Lab/lab6_lda/yalefaces/data/subject05.sleepy
Lab/lab6_lda/yalefaces/data/subject05.surprised
Lab/lab6_lda/yalefaces/data/subject05.wink
Lab/lab6_lda/yalefaces/data/subject06.centerlight
Lab/lab6_lda/yalefaces/data/subject06.glasses
Lab/lab6_lda/yalefaces/data/subject06.happy
Lab/lab6_lda/yalefaces/data/subject06.leftlight
Lab/lab6_lda/yalefaces/data/subject06.noglasses
Lab/lab6_lda/yalefaces/data/subject06.normal
Lab/lab6_lda/yalefaces/data/subject06.rightlight
Lab/lab6_lda/yalefaces/data/subject06.sad
Lab/lab6_lda/yalefaces/data/subject06.sleepy
Lab/lab6_lda/yalefaces/data/subject06.surprised
Lab/lab6_lda/yalefaces/data/subject06.wink
Lab/lab6_lda/yalefaces/data/subject07.centerlight
Lab/lab6_lda/yalefaces/data/subject07.glasses
Lab/lab6_lda/yalefaces/data/subject07.happy
Lab/lab6_lda/yalefaces/data/subject07.leftlight
Lab/lab6_lda/yalefaces/data/subject07.noglasses
Lab/lab6_lda/yalefaces/data/subject07.normal
Lab/lab6_lda/yalefaces/data/subject07.rightlight
Lab/lab6_lda/yalefaces/data/subject07.sad
Lab/lab6_lda/yalefaces/data/subject07.sleepy
Lab/lab6_lda/yalefaces/data/subject07.surprised
Lab/lab6_lda/yalefaces/data/subject07.wink
Lab/lab6_lda/yalefaces/data/subject08.centerlight
Lab/lab6_lda/yalefaces/data/subject08.glasses
Lab/lab6_lda/yalefaces/data/subject08.happy
Lab/lab6_lda/yalefaces/data/subject08.leftlight
Lab/lab6_lda/yalefaces/data/subject08.noglasses
Lab/lab6_lda/yalefaces/data/subject08.normal
Lab/lab6_lda/yalefaces/data/subject08.rightlight
Lab/lab6_lda/yalefaces/data/subject08.sad
Lab/lab6_lda/yalefaces/data/subject08.sleepy
Lab/lab6_lda/yalefaces/data/subject08.surprised
Lab/lab6_lda/yalefaces/data/subject08.wink
Lab/lab6_lda/yalefaces/data/subject09.centerlight
Lab/lab6_lda/yalefaces/data/subject09.glasses
Lab/lab6_lda/yalefaces/data/subject09.happy
Lab/lab6_lda/yalefaces/data/subject09.leftlight
Lab/lab6_lda/yalefaces/data/subject09.noglasses
Lab/lab6_lda/yalefaces/data/subject09.normal
Lab/lab6_lda/yalefaces/data/subject09.rightlight
Lab/lab6_lda/yalefaces/data/subject09.sad
Lab/lab6_lda/yalefaces/data/subject09.sleepy
Lab/lab6_lda/yalefaces/data/subject09.surprised
Lab/lab6_lda/yalefaces/data/subject09.wink
Lab/lab6_lda/yalefaces/data/subject10.centerlight
Lab/lab6_lda/yalefaces/data/subject10.glasses
Lab/lab6_lda/yalefaces/data/subject10.happy
Lab/lab6_lda/yalefaces/data/subject10.leftlight
Lab/lab6_lda/yalefaces/data/subject10.noglasses
Lab/lab6_lda/yalefaces/data/subject10.normal
Lab/lab6_lda/yalefaces/data/subject10.rightlight
Lab/lab6_lda/yalefaces/data/subject10.sad
Lab/lab6_lda/yalefaces/data/subject10.sleepy
Lab/lab6_lda/yalefaces/data/subject10.surprised
Lab/lab6_lda/yalefaces/data/subject10.wink
Lab/lab6_lda/yalefaces/data/subject11.centerlight
Lab/lab6_lda/yalefaces/data/subject11.glasses
Lab/lab6_lda/yalefaces/data/subject11.happy
Lab/lab6_lda/yalefaces/data/subject11.leftlight
Lab/lab6_lda/yalefaces/data/subject11.noglasses
Lab/lab6_lda/yalefaces/data/subject11.normal
Lab/lab6_lda/yalefaces/data/subject11.rightlight
Lab/lab6_lda/yalefaces/data/subject11.sad
Lab/lab6_lda/yalefaces/data/subject11.sleepy
Lab/lab6_lda/yalefaces/data/subject11.surprised
Lab/lab6_lda/yalefaces/data/subject11.wink
Lab/lab6_lda/yalefaces/data/subject12.centerlight
Lab/lab6_lda/yalefaces/data/subject12.glasses
Lab/lab6_lda/yalefaces/data/subject12.happy
Lab/lab6_lda/yalefaces/data/subject12.leftlight
Lab/lab6_lda/yalefaces/data/subject12.noglasses
Lab/lab6_lda/yalefaces/data/subject12.normal
Lab/lab6_lda/yalefaces/data/subject12.rightlight
Lab/lab6_lda/yalefaces/data/subject12.sad
Lab/lab6_lda/yalefaces/data/subject12.sleepy
Lab/lab6_lda/yalefaces/data/subject12.surprised
Lab/lab6_lda/yalefaces/data/subject12.wink
Lab/lab6_lda/yalefaces/data/subject13.centerlight
Lab/lab6_lda/yalefaces/data/subject13.glasses
Lab/lab6_lda/yalefaces/data/subject13.happy
Lab/lab6_lda/yalefaces/data/subject13.leftlight
Lab/lab6_lda/yalefaces/data/subject13.noglasses
Lab/lab6_lda/yalefaces/data/subject13.normal
Lab/lab6_lda/yalefaces/data/subject13.rightlight
Lab/lab6_lda/yalefaces/data/subject13.sad
Lab/lab6_lda/yalefaces/data/subject13.sleepy
Lab/lab6_lda/yalefaces/data/subject13.surprised
Lab/lab6_lda/yalefaces/data/subject13.wink
Lab/lab6_lda/yalefaces/data/subject14.centerlight
Lab/lab6_lda/yalefaces/data/subject14.glasses
Lab/lab6_lda/yalefaces/data/subject14.happy
Lab/lab6_lda/yalefaces/data/subject14.leftlight
Lab/lab6_lda/yalefaces/data/subject14.noglasses
Lab/lab6_lda/yalefaces/data/subject14.normal
Lab/lab6_lda/yalefaces/data/subject14.rightlight
Lab/lab6_lda/yalefaces/data/subject14.sad
Lab/lab6_lda/yalefaces/data/subject14.sleepy
Lab/lab6_lda/yalefaces/data/subject14.surprised
Lab/lab6_lda/yalefaces/data/subject14.wink
Lab/lab6_lda/yalefaces/data/subject15.centerlight
Lab/lab6_lda/yalefaces/data/subject15.glasses
Lab/lab6_lda/yalefaces/data/subject15.happy
Lab/lab6_lda/yalefaces/data/subject15.leftlight
Lab/lab6_lda/yalefaces/data/subject15.noglasses
Lab/lab6_lda/yalefaces/data/subject15.normal
Lab/lab6_lda/yalefaces/data/subject15.rightlight
Lab/lab6_lda/yalefaces/data/subject15.sad
Lab/lab6_lda/yalefaces/data/subject15.sleepy
Lab/lab6_lda/yalefaces/data/subject15.surprised
Lab/lab6_lda/yalefaces/data/subject15.wink
Lab/lab7_perceptron/training_histories.csv
Lab/lab7_perceptron/sonar.all-data.csv
Lab/lab7_perceptron/framingham.csv
Lab/lab7_perceptron/Analysis-Portfolio-Task-Data.csv
final_term/data/heart_disease_health_indicators_BRFSS2015.csv
Lab/lab9_cnn/cats_and_dogs_filtered
Lab/lab8_ann/train-images-idx3-ubyte.gz
Lab/lab8_ann/train-labels-idx1-ubyte.gz
Lab/lab8_ann/t10k-images-idx3-ubyte.gz
Lab/lab8_ann/t10k-labels-idx1-ubyte.gz
Lab/lab8_ann/yalefaces
Lab/lab8_ann/Dry_Bean_Dataset.csv
Lab/lab8_ann/SAT_GPA.csv
Lab/lab8_ann/vidu4_lin_reg.txt
Lab/lab8_ann/real_estate.csv
Lab/lab9_cnn/yalefaces
Lab/lab10_clustering/t10k-images-idx3-ubyte.gz
Lab/lab10_clustering/t10k-labels-idx1-ubyte.gz
Lab/lab10_clustering/train-images-idx3-ubyte.gz
Lab/lab10_clustering/train-labels-idx1-ubyte.gz
Lab/lab10_clustering/t10k-images-idx3-ubyte
Lab/lab10_clustering/t10k-labels-idx1-ubyte
Lab/lab10_clustering/train-images-idx3-ubyte
Lab/lab10_clustering/train-labels-idx1-ubyte
Lab/lab11_gmm/temp_frames